h1{
  font-weight: 700 !important;
  font-size: 45px !important;
  margin: 10px !important;
  margin-bottom: 20px !important;
}
input{
  width: 100%;
}

.items-container{
  text-align: left;
}

.kg-row{
  margin: 7px;
}

.kg-button{
margin: 7px;
}

.kg-button{
  min-width: 150px;
}